body{
    background-color: #FBF3D5;
    font-family: tahoma;
    font-size: 14px;
    flex-direction: column;
}

#container {
    margin-right: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EFBC9B;
    font-size: 200%;
    font-family:tahoma;
}

#title {
    flex-grow: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size:150%;
}

#links {
    text-align: right;
    padding-left: 10px;
}

#links p {
    margin: 0;
    color: white;
}

#links a {
    text-decoration: none;
    margin-left: 10px;
}

#body{
    margin-right: 100px;

}

#sidebar {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 100%;
    width: 90px;
    background-color: #555;
    border-radius: 10px;
}

#sidebar a {
    margin: auto;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: #9CAFAA;
}

.about{
    font-size: 200%;
}

#intro{
    margin-right:auto;
    background-color: #D6DAC8;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

#OurTeam{
    margin-right:auto;
    background-color: #D6DAC8;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

#objecive{
    margin-right:auto;
    background-color: #D6DAC8;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}