body{
    font-size: 14px;
    font-family: tahoma;
    background-color: #FBF3D5;
}



#container {
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #EFBC9B;
    font-size: 200%;
    font-family:tahoma;
}

#title {
    flex-grow: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size:150%;
}

#links {
    text-align: right;
    padding-left: 10px;
}

#links p {
    margin: 0;
    color: white;
}

#links a {
    text-decoration: none;
    margin-left: 10px;
}

#action{
    text-align: left;
    background-color: #D6DAC8;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-right:100px;
}

#actionDec{
    font-size: 150%;
}

#actionLogo{
    display: block;
    margin:auto;
}

#drama{
    text-align: left;
    background-color: #D6DAC8;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-right:100px;
}

#dramaDec{
    font-size: 150%;
}

#dramaLogo{
    display: block;
    margin:auto;
}

#romance{
    text-align: left;
    background-color: #D6DAC8;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-right:100px;
}

#romanceDec{
    font-size: 150%;
}

#romanceLogo{
    display: block;
    margin:auto;
}

#horror{
    text-align: left;
    background-color: #D6DAC8;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-right:100px;
}

#horrorDec{
    font-size: 150%;
}

#horrorLogo{
    display: block;
    margin:auto;
}

#sidebar {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 100%;
    width: 90px;
    background-color: #555;
    border-radius: 10px;
}

#sidebar a {
    margin: auto;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: #9CAFAA;
}

