body{
    background-color: #67C6E3;
    font-family: tahoma;
    font-size: 14px;
    flex-direction: column;
}

footer{
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 200%;
    font-family:tahoma;
}

#footer1 {
    font-family: tahoma;
    font-size: 200%;
    background-color: #DFF5FF;
    text-align: center;
    width: 100%;
    margin: auto;
}

#footer1 a{
    text-decoration: none;
}

#submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
}

#sign {
    margin:40px auto;
    width: 20%;
    background-color: #DFF5FF;
    border-radius: 10px;
    padding: 10px;
}

.label{
    font-size: 150%;
    font-family: tahoma;
    text-align: left;
}

h2{
    font-size: 150%;
    text-align: center;
}

#table1{
    display: flex;
    justify-content: center;
    align-items: center;
}